@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 500px;
    display: flex;
    margin: auto;
    
}

.card1{
    background-image: linear-gradient(#704FFF, #9186E3, #3E37E8);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.ball{
    background-image: linear-gradient(#704FFF, #4945bd);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 4px;
}

.score{
    display: block;
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
}

.total {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.card1 > * {
    color: white;
    margin-bottom: 20px;
}