@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #141414;
    text-align: center;
    font-family: Inter, sans-serif ;
}
.box{
    background-color: #1F1F1F;
    max-width: 325px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
}
img{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;    
}
h2, h3, p{
    color: aliceblue;
}
.name{
    font-size: 1.5em;
    margin-block-start: 0.2px;
    margin-block-end: 0.2px;
}
.locate{
    font-size: 0.9em;
    color: #B5D042;
    padding-bottom: 15px;
    
}
p{
    font-size: 0.8em;
}
.social-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    padding: 10px;
    
}
.social-button{
    display: block;
    background-color: #333333;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 18px;
    border-radius: 10px;
    
}
.social-button:hover{
    background-color: #B5D042;
    transition: backgoud-color 5s;
}