@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {        /*TABLET*/
    body {
        background-image: linear-gradient(to bottom, #5A2D82, #F5335E) ;
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
    }

    section#login {
        width: 760px;
        height: 450px;
        
        box-shadow: 0 15px 40px rgba(0,0,0,.25);
    }
    .flex{
        justify-content: flex-start;
    }
    h1{
        font-size: 4em;
        margin-bottom: 30px;
    }

    button{
        margin-top: 15px;
    }
}
                                          

@media screen and (min-width: 993px) and (max-width:1200px) { /*DESKTOP*/
    body {
        background-image: linear-gradient(to bottom, #5A2D82, #F5335E) ;
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
    }

    section#login {
        width: 900px;
        height: 450px;
        
        box-shadow: 0 15px 40px rgba(0,0,0,.25);
    }
    .flex{
        justify-content: flex-start;
    }
    h1{
        font-size: 4em;
        margin-bottom: 30px;
    }

    button{
        margin-top: 15px;
    }
    
}        
@media screen and (min-width:1200px) {                       /*GRANDES TELAS*/
    body {
        background-image: linear-gradient(to bottom, #5A2D82, #F5335E) ;
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
    }

    section#login {
        width: 1100px;
        height: 450px;
        
        box-shadow: 0 15px 40px rgba(0,0,0,.25);
    }
    .flex{
        justify-content: flex-start;
    }
    h1{
        font-size: 4.5em;
        margin-bottom: 30px;
    }

    button{
        margin-top: 15px;
    }
    form{
        font-size: 1.2em;
    }


}