@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body{
    background-color: #F3E5D8;
}
.caixabranca{
    background-color: white;
    max-width: 800px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    font-family: Outfit, sans-serif;
}
.caixabranca img{
    width: 100%;
}

p{
    text-align: justify;
}
.preparationtime{
    background-color: #f7e5f0dc;
    padding: 5px;
    border-radius: 20px;
}

#preparationtime{
    color: #763953;
    font-family: Outfit, sans-serif;
}

h2, h1{
    font-family: Young, serif ; color: #83442F;
}

#h1principal{
    color: black;
}

ul li::marker{
    color:#83442F;
    font-weight: bold;
}

ol li::marker{
    color: #83442F;
    font-weight: bold;
}

hr{
    margin: 30px 0;
}

#code1, #code2{
    font-size: 1.1em;
    
}

li{
    margin-bottom: 10px;
    padding-left: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 12px 24px;
    border-bottom: 1px solid;
    border-color: beige;
}
tr:last-child td{
    border-bottom: none;
}

.valor-nutritivo{
    color: #83442F;
    font-weight: bold;
}